.thisMonthPick{
    background-color: white;
    position:absolute;
    z-index:0;
    top:83vh;
    height:130vh;
    width:100vw;
    padding:2rem 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 5rem;;
}
.grid-super-container{
    height:100vh;
    width:100vw;
    padding:3rem;
    position:relative;
    background-color:white;
    box-sizing: border-box;
}