@font-face {
    font-family: samsung_font;
    src: url(../../resources/samsung_font.ttf);
 }


@font-face {
    font-family: samsungSharpSans;
    src: url(../../resources/samsungSharpSans.otf);
 }
 @font-face {
    font-family: samsungOneThin;
    src: url(../../resources/SamsungOne-400.ttf);
 }

.signInFormPage{
    width:100vw;
    height:130vh;
    background-color: #171717;
    position:absolute;
    top:0;
    z-index:+100;

}
.signInNav{
    width:100%;
    height:13vh;
    background-color: #171717;
    box-sizing: border-box;
    padding:1.8rem 9rem;

}
.signInNavHeading{
    box-sizing: border-box;
    padding:0  2rem;
    background-color: #171717;
    color:white;
    font-size:1.2rem;
    font-family: samsungSharpSans;


}
.samsung-logo{
    font-family: samsung_font;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-stretch: expanded;
}
.sign-in-form-body{
    background-color:#171717;
    width:100%;
    height:117vh;
    position:absolute;
    top:13vh;
    box-sizing: border-box;
    padding:1rem 24rem;
    
}
.sign-in-form-container{
    position:relative;
    background-color:#171717;
    width:100%;
    height:100%;
    border-radius:40px;
    box-sizing: border-box;
    padding:4rem;

}
.sign-in-form{
    background-color: #171717;
    position:relative;
    height:100%;
    width:100%;
    box-sizing: border-box;

}
.sign-in-form-heading{
    position: relative;
    text-align: center;
    font-family: samsungOneThin;
    font-size:2.2rem;
    color:#2189FF;
    font-weight: 400;
    box-sizing: border-box;
    padding:0 2rem;
    /* letter-spacing: 1px;; */

}
.form-inner-body{
    position:relative;
    height:80%;
    margin:2rem 1rem;



}
.email-input{
    width:100%;
    height:2rem;
    margin:2rem 0;
    background-color: #171717;
    border-style: none;
    border-bottom-style:solid;
    font-family: samsungOneThin;
    font-weight: 700;
    padding:3px 6px;
    color:white;
    font-family: samsungOneThin;
    letter-spacing: 1px;


}
/* .password-input:focus{
    outline-color: blue;
    border-color: blue;
    color:blue;
    outline-style: solid;
} */
.password-input{
    width:100%;
    height:2rem;
    margin: 0 0 2rem 0;
    background-color: #171717;
    border-style: none;
    border-bottom-style:solid;
    color:white;
    font-family: samsungOneThin;
    padding: 3px 6px;
    letter-spacing: 1px;
}
.remember{
    font-family: samsungOneThin;
    color:#F1F1F1;
    font-weight: 700;
}
.sign-in-btn-super-container{
    width:100%;
    height:11rem;
    background-color: #171717;
    margin:0 0 0 0;
    box-sizing: border-box;
    padding:2rem 5rem;

}
.sign-in-btn-container{
    background-color: #171717;
    height:100%;
    width:100%;

}
.sign-in-btn{
    background-color: #2189FF;
    height:2.5rem;
    width:100%;
    border-radius: 30px;
    text-align:center;
    align-items: center;
    box-sizing: border-box;
    padding:0.7rem 4rem;
    font-family: samsungOneThin;
    font-weight: 700;
    color:white;

}
.reset-password{
    box-sizing: border-box;
    margin-top:1rem;
    width:100%;

}
.create-account{
    margin-top:0.5rem;
    width:100%;
    box-sizing: border-box;
}
.login-with-google{
    background-color: #171717;
    width:100%;
    height:2.5rem;
    box-sizing: border-box;
    padding:0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.google-button{
    background-color: #2189FF;
    width:15rem;
    height: 100%;
    padding:0.3rem .3rem;
    border-radius:17px;
    /* padding:1rem 0; */
    box-sizing: border-box;
}
.link-holder{
    background-color: #2189FF;
    height:100%;

}
.google-link{
    background-color: #2189FF;
    height:100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 3px;
    font-family: samsungOneThin;
    font-weight: 700;
    color:white;

}
.google-icon-holder{
    height:1.5rem;
    width:1.5rem;
    border-radius: 100%;
    background-color: white;
    margin-right:2rem;

}
.google-icon{
    font-size: 1.5rem;;
}
.reset-password-link{
    color:grey;
    font-family: samsungOneThin;
}
.create-account-link{
    color:grey;
    font-family: samsungOneThin;

}